@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
-webkit-background-clip: text;
-webkit-text-fill-color: #ffffff;
transition: background-color 5000s ease-in-out 0s;
box-shadow: inset 0 0 20px 20px #23232329;
}

.box {
    --mask:
      radial-gradient(5.16rem at 7.20rem 50%,#000 99%,#0000 101%) 0 calc(50% - 6rem)/100% 12rem,
      radial-gradient(5.16rem at -4.2rem 50%,#0000 99%,#000 101%) 3rem 50%/100% 12rem repeat-y;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }